In [5]:
import tensorflow as tf

In [6]:
tf.__version__

'2.9.2'

## Hello world

Print "hello world" naar scherm

In [7]:
print("hello world")

hello world

Maak een variabele hw die de tekst "hello world bevat" en print deze ook

In [8]:
hw = "hello world"

In [9]:
print(hw)

hello world

Print de derde letter van "hello world"

In [10]:
print(hw[2])

l

Print het eerste woord van "hello world"

In [11]:
print(hw.split()[0])

hello

Print de laatste letter van "hello world"

In [12]:
print(hw[-1])

d

Maak een functie die "hello world" print

In [13]:
def function():
    '''Prints out hello world'''
    print("hello world")

In [14]:
function()

hello world

Maak een functie die "hello world" teruggeeft

In [15]:
def another_function(): 
    '''Returns the string hello world'''
    return "hello world"

In [16]:
another_function()

'hello world'

Maak een functie die een meegegeven tekst print

In [18]:
def print_text(text):
    '''Prints the text that's given with the function'''
    print(text)

In [19]:
print_text("test test 123")

test test 123

Maak een functie die een meegegeven variabele print

In [20]:
def print_var(a):
    '''Prints the variable that's given with the function'''
    print(a)

In [21]:
print_var(23)

23

## Jupyter

Maak een header met markdown

# Header

Zet commentaar (docstrings) bij je functies

In [22]:
print(function.__doc__)
print(another_function.__doc__)
print(print_text.__doc__)
print(print_var.__doc__)

Prints out hello world
Returns the string hello world
Prints the text that's given with the function
Prints the variable that's given with the function

## Sommetjes en lijstjes

Reken 1+1 uit

In [23]:
1+1

2

Maak lijstje a=[1,2,3,4,5,6,7,8,9,10], gebruik range()

In [24]:
a = range(1, 11)

In [25]:
for x in a:
    print(x)

1
2
3
4
5
6
7
8
9
10

Maak het lijstje b=[11,12,13,14,15] en plak deze erachteraan

In [26]:
b = range(11, 16)

In [27]:
for x in b:
    print(x)

11
12
13
14
15

In [28]:
c = *a, *b

In [29]:
for x in c:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

Tel 5 bij elk element op, gebruik list comprehension

In [30]:
d = [x + 5 for x in c]

In [31]:
print(d)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Neem vervolgens de som

In [32]:
som = sum(d)
print(som)

195

Reken ‚àëùëñ uit voor i=100

In [33]:
a = 0
i = range(0,101)
for x in i:
    print(a)
    a += x

0
0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

## Meer functies en conditionals

Kijk wat de volgende operators doen:

In [34]:
print(5 == 6)
print(5 != 6)
print( 5 < 6 )
print( 5 > 6 )
print( 5 >= 6 )
print( 5 <= 6 )

False
True
True
False
False
True

Kijk wat de "in" operator doet:

In [35]:
print('s' in 'Mississippi')
print('sip' in 'Mississippi')
print('mis' in 'Mississippi')

True
True
False

Maak een functie die 2 string variabelen aan elkaar plakt en print (Bouw een controle in of het wel string variabelen zijn)

In [36]:
def ran(first, second):
    if (type(first) == str and type(second) == str):
        print(first, second)

In [37]:
ran("Ik heet","Tracy")

Ik heet Tracy

In [38]:
ran("t",2)

Maak een functie die 2 integers bij elkaar optelt (Alleen als de tweede groter is dan de eerste, Alleen als ze gelijk zijn)

In [39]:
def ran_sum(first, second):
    if (first <= second):
        return first+second

In [40]:
print(ran_sum(4, 5))

9

In [41]:
print(ran_sum(6, 5))

None

In [42]:
print(ran_sum(5, 5))

10

Tel steeds 1 op bij het laagste getal tot ze gelijk zijn en geef dan dat getal terug. Print de
tussenresultaten

In [43]:
def ran_sum2(first, second):
    if (first > second):
        second += 1
        print(first, second)
        ran_sum2(first, second)
    elif (second > first):
        first += 1
        print(first, second)
        ran_sum2(first, second)
    elif (first == second):
        print(first, second)

In [44]:
ran_sum2(31, 6)

31 7
31 8
31 9
31 10
31 11
31 12
31 13
31 14
31 15
31 16
31 17
31 18
31 19
31 20
31 21
31 22
31 23
31 24
31 25
31 26
31 27
31 28
31 29
31 30
31 31
31 31

Maak simpele dictionary a = { 'a' : 1, 'b' : 20}

In [45]:
a = {'a': 1, 'b':20}

Voeg toe: 'c'=5

In [46]:
a.update({'c': 5})

Kijk of de key 'c' er nu in zit

In [47]:
print(a)

{'a': 1, 'b': 20, 'c': 5}

Print de keys & values

In [11]:
a.keys()

dict_keys(['a', 'b', 'c'])

In [12]:
a.values()

dict_values([1, 20, 5])

Loop over de values

In [15]:
for value in a:
    print(a[value])

1
20
5

Loop over de gesorteerde keys en de gesorteerde values

In [51]:
print(sorted(a.keys()))
print(sorted(a.values()))

['a', 'b', 'c']
[1, 5, 20]

In [70]:
def letters(text):
    l = {}
    for i in text:
        l[i] = l.get(i, 0)+1
    print(sum(l.values()))

In [71]:
letters("Software engineering is een leuke opleiding")

43