In [1]:
import pandas as pd

# Testen op bias en betrouwbaarheid

In [2]:
data=pd.read_csv('cancer patient data sets.csv')
data.head()

,index,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,0,P1,33,1,2,4,5,4,3,2,...,3,4,2,2,3,1,2,3,4,Low
1,1,P10,17,1,3,1,5,3,4,2,...,1,3,7,8,6,2,1,7,2,Medium
2,2,P100,35,1,4,5,6,5,5,4,...,8,7,9,2,1,4,6,7,2,High
3,3,P1000,37,1,7,7,7,7,6,7,...,4,2,3,1,4,5,6,7,5,High
4,4,P101,46,1,6,8,7,7,7,6,...,3,2,4,1,4,2,4,2,3,High

Dit is een dataset van kaggle. De dataset is een dataset met long kanker patienten en informatie en data over hun luchtwegen. Al hoewel het niet duidelijk is wat de nummers van de gender exact voor staan.

In [3]:
print(len(data[data.Gender == 1]))

598

In [4]:
print(len(data[data.Gender == 2]))

402

Al hoewel er geen drastisch verschil is er meer van gender 1 data te vinden dan gender 2, dit kan voor een bias zorgen omdat we bij het uitvoeren de ai zo meer data van 1 geven dan 2. Daarnaast is het niet betekent welke gender hoort bij welk nummer. Dit kan onbetrouwbaar zijn. We weten niet van welke gender een bias is, eventueel als er specifieke data het meest voorkomt bij een bepaalde gender het meest voorkoomt.