## T-toets

Hieronder heb ik een dataset over het slaap data van mensen. Met de t toets vergelijk je de gemiddelde van 2 groepen. Ik heb 2 t toetsen uitgevoerd. De eerste t toets vergelijkt de groepen op basis van uren en de tweede op basis van vermoeidheid.

In [9]:
import scipy.stats as stats
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [10]:
data=pd.read_csv('SleepStudyData.csv')
data

    Enough  Hours PhoneReach PhoneTime  Tired Breakfast
0      Yes    8.0        Yes       Yes      3       Yes
1       No    6.0        Yes       Yes      3        No
2      Yes    6.0        Yes       Yes      2       Yes
3       No    7.0        Yes       Yes      4        No
4       No    7.0        Yes       Yes      2       Yes
..     ...    ...        ...       ...    ...       ...
99      No    7.0        Yes       Yes      2       Yes
100     No    7.0         No       Yes      3       Yes
101    Yes    8.0        Yes       Yes      3       Yes
102    Yes    7.0        Yes       Yes      2       Yes
103    Yes    6.0        Yes       Yes      3       Yes

[104 rows x 6 columns]

In [11]:
yes = data[data.Enough == 'Yes']
no = data[data.Enough == 'No']

data1 = yes["Hours"]
data2 = no["Hours"]

stats.ttest_ind(data1.dropna(), data2.dropna(), equal_var=True)

Ttest_indResult(statistic=4.117519752907014, pvalue=7.892219409736145e-05)

Bij deze t toets heb ik pwaarde 7.892219409736145e-05 gekregen wat 0.00007892219409736145. De pwaarde zit zwaar onder de 0.05, hierbij kan ik concluderen dat de nul hypothese waar is. Er zit zit volgens de nul hypothese geen verschil tussen het gemiddelde van beide groepen.

In [12]:
yes = data[data.Enough == 'Yes']
no = data[data.Enough == 'No']

data1 = yes["Tired"]
data2 = no["Tired"]

stats.ttest_ind(data1, data2, equal_var=True)

Ttest_indResult(statistic=-4.633669600963579, pvalue=1.0647614257563845e-05)

Bij deze t toets heb ik pwaarde 1.0647614257563845e-05 gekregen wat 0.000010647614257563845. De pwaarde zit zwaar onder de 0.05, hierbij kan ik concluderen dat de nul hypothese waar is.  Er zit zit volgens de nul hypothese geen verschil tussen het gemiddelde van beide groepen.