Load libraries

In [20]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

## Ochtend

Load en bekijk data

In [21]:
data = pd.read_csv('titanic_data.csv')

#head() toont de eerste paar regels
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Bekijk de datatypes

In [22]:
# geeft het data type van elke kolom terug
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Wat is de minimum, maximum en gemiddelde leeftijd van de passagiers?

In [23]:
[data['Age'].min(),

data['Age'].max(),

data['Age'].mean()]

[0.42, 80.0, 29.69911764705882]

Wat is het percentage van mensen die de ramp niet hebben overleefd?

In [24]:
# deelt het aantal mensen die het niet overleefd hebben met de lengte van de data
data['Survived'].sum()/len(data)

0.3838383838383838

Wat is de minimum, gemiddelde, en maximum prijs (Fare) in de verschillende klassen (Pclass)?

In [25]:
data.groupby(['Pclass'])['Fare'].min()
data.groupby(['Pclass'])['Fare'].mean()
data.groupby(['Pclass'])['Fare'].max()

# geeft het beschrijving terug van de aangegeven data
data.groupby(['Pclass'])['Fare'].describe()

        count       mean        std  min       25%      50%   75%       max
Pclass
1       216.0  84.154687  78.380373  0.0  30.92395  60.2875  93.5  512.3292
2       184.0  20.662183  13.417399  0.0  13.00000  14.2500  26.0   73.5000
3       491.0  13.675550  11.778142  0.0   7.75000   8.0500  15.5   69.5500

Welke data is categorisch?

In [26]:
# selecteert alle kolommen exclusief de kolommen waarvan hun datatypen nummers zijn
data.select_dtypes(exclude = [np.number]).columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

Verijder de kolommen 'Name', 'Cabin' en 'Ticket'

In [27]:
# drop() haalt de geselecteerde kolommen eruit
# axis bepaalt of er rijen of kolommen worden eruitgehaald -> 0 = rijen, 1 = kolommen
data = data.drop(["Name", "Ticket", "Cabin"], axis = 1)

Codeer categorische features met indices (getallen)

In [28]:
data["Sex"]

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [29]:
data["Sex"] = pd.factorize(data.Sex)[0]
data["Embarked"] = pd.factorize(data.Embarked)[0]

In [30]:
data["Sex"]

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

Vervang NaN in "Ages". Bepaal zelf of mediaan of gemiddelde hiervoor het best is.

In [31]:
# Vervang de data's zonder waardes met het gemiddelde
data["Age"] = data["Age"].fillna(data["Age"].mean())

## Middag

Voorspel of passagiers de ramp hebben overleefd of niet. Bereid de data voor om je model te trainen. Wat wordt je target vector en hoe ziet je feature matrix er uit?

In [32]:
# x is alle kollomen zonder het survived kolom
x = data.drop(["Survived"], axis = 1)

# y is het survived kolom
y = data['Survived']

Train en test KNN classifier

In [33]:
# de x en y waardes worden gesplit in een deel van 80% dat wordt gebruikt om te trainen en 20% wordt gebruikt om te testen
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=6)

Train en test regressie classifier. Kies je lineair of logistisch?

In [34]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train, y_train)
pred = knn.predict(x_test)
accuracy_score(pred, y_test)

0.6312849162011173

Welk model geeft het beste resultaat?

In [35]:
lr = LogisticRegression()
lr.fit(x_train, y_train)
pred = lr.predict(x_test)
accuracy_score(pred, y_test)

C:\Users\misst\aai-env\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8547486033519553

Extra: Kan je het resultaat verbeteren?